@using BugTracker2.ViewModels
@using BugTracker2.Helpers

@model IEnumerable<UserIndexViewModel>

<h2>User Index</h2>

<table class="table tblTarget">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvatarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayName("Current Role")
            </th>
            <th>
                @Html.DisplayName("Current Project(s)")
            </th>

            @*<th></th>*@
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                <img src="@user.AvatarUrl" height="20" width="20" />
            </td>
            <td>
                @Html.DisplayFor(model => user.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => user.Email)
            </td>
            <td>
                @Html.DropDownList("CurrentRole", user.CurrentRole, "NONE")
            </td>

            <td>
                @Html.ListBox("CurrentProjects", user.CurrentProjects)
            </td>

            @*<td>
            @Html.ActionLink("Manage Role", "ManageUserRole", "Admin", new { userId = user.Id }, null) |
            @Html.ActionLink("Manage Projects", "ManageUserProjects", "Admin", new { userId = user.Id }, null)
        </td>*@
        </tr>
        }
    </tbody>

</table>




@Html.ActionLink("Back To Dashboard", "Dashboard", "Home")